<h1>Webhook: <%= @hook.name %></h1>

<ul>

  <li>
    <strong>Path:</strong>
    <%= hook_path(@conn, @hook) %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @hook.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.hook_path(@conn, :edit, @hook) %></span> |
<span><%= link "Back", to: Routes.hook_path(@conn, :index) %></span>
